.example-form {
    min-width: 10%;
    max-width: 100%;
    width: 100%;

}

.example-full-width {
    width: 76%;

}


.pwd {
    min-width: 10%;
    max-width: 100%;
    width: 100%;


}

.example-container{
    width: 84%;
}